.overlayContainer{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.2);
    display: grid;
    place-items: center;
}

.overlay {
    width: 50%;
    background-color: #023e8a;
    border-radius: 10px;
    position: relative;
    z-index: 200;
}

.editHeading {
    width: 100%;
    padding: 1rem .5rem .5rem .5rem;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
    color: #fff;
}

.editNotesSection {
    width: 100%;
}

.input {
    width: 90%;
    margin: 1rem auto;
}

.input>label {
    display: block;
    font-family: inherit;
    font-size: .85rem;
    letter-spacing: 1px;
    font-weight: 500;
    color: #fff;
    margin-bottom: .35rem;
}

.input > input , .input > textarea{
    width: 100%;
    max-width: 100%;
    padding: .6rem;
    background-color: #fff;
    border: none;
    border-radius: 8px;
    font-family: 'Roboto', sans-serif;
    outline: none;
    border: 2px solid #023e8a;
}

.input > input:focus, .input > textarea:focus {
    border: 2px solid #3181e9;
}

.input>input::placeholder,
.input>textarea::placeholder {
    font-family: 'Roboto', sans-serif;
}

.submitButton {
    display: block;
    width: max-content;
    background-color: #fff;
    border-radius: 8px;
    color: #023e8a;
    padding: .5rem 2.5rem;
    font-size: 1.15rem;
    font-weight: 500;
    margin: 1rem auto;
    font-weight: 700;
}

.submitButton:disabled {
    cursor: not-allowed;
}


.errorContent {
    color: red;
    font-size: .9rem;
    text-align: center;
    margin: .15rem 0;
}

