*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
}

button{
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  outline: none;
  background: none;
  border: none;
}

a{
  text-decoration: none;
}

ul{
  list-style-type: none;
}



